### react template
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch
*.bak
*.directory
*.exe
*.idea
*.old
*.oldspec
*.oldtoolhash
*.tar.gz
*.test
*~
.DS_Store
.gitconfig
.npmrc
.vscode
npm-debug.log
yarn-error.log
.env.local

